<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <meta name="google-site-verification" content="vZKK9F_Yirbdr4TyNngAnPr26USdW9syqhl6myia6fQ" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>

  {% include header.html %}

  <div class="outer-wrapper">
    <div class="container">
      <main class="main-content">
        {{ content }}
      </main>
      <aside class="sidebar">
        {% include sidebar.html %}
      </aside>
    </div>
  </div>

  {% include footer.html %}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", function(user) {
        if (!user) {
          window.netlifyIdentity.on("login", function() {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>
